<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./bootstrap.min.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>API Endpoints Discovered:</h1>

    <% apiEndpoints.forEach(function(apiEndpoint){ %>
      <%= apiEndpoint.method %> <%= apiEndpoint.url %><br/>
    <% }); %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="./jquery-3.4.1.min.js"></script>
    <script src="./bootstrap.min.js"></script>
  </body>
</html>

